<h1>Food_Savr Charities</h1>

<div class="charities">
<ul>
  {{#each CharityInfos}}
      <li>
        <p>
        Charity Name: {{this.name}} </p> <p> Address:
        {{this.address}} {{this.city}} </p>
      </li>
  {{/each}}
</ul>
</div>

