/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/*body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background-image: url("https://static.pexels.com/photos/533360/pexels-photo-533360.jpeg");
}*/

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  color: green;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.jumbotron {
  background-image: url("https://static.pexels.com/photos/533360/pexels-photo-533360.jpeg");
  background-size:100%;
  color: black;
}

.jumbotron p {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

body {
  background-color: #8FBC8F;
}

.twitter-feed {
  width: 400px;
  height: 400px;
  margin-left: 300px;
text-align: center;
}

.footer {
  margin-top: 100px;
}

.donor-form {
  margin-left: 50px;
}


.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.donor-form {
  display: flex;
 
}


#charities_form {
  display: flex;
  justify-content: center;
}

#sign_in_heading {
  text-align: center;
}

#charities_form input {
  width: 50%;
}

.donors, .charities {
  display: flex;
  justify-content: center;
}

.header1 {
  text-align: center;
}


